.alarmv-body{
    margin-top: 2rem;
    /* padding-top: 10rem; */
}

.item-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.item {
    background-color: #fffefe;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 1rem;
    width: calc(25% - 10px); /* Ancho de cada item (25% del contenedor menos el espacio entre ellos) */
    margin-bottom: 10px; /* Espacio entre items */
    text-align: center;
}

.custom-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.agregar-btn {
    background-color: white; 
    color: black;
    border-color: white;
}

