.sleep-body-nolink {
    font-family: Arial;
    background-color: #ffecd4;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto; 
    height: 100vh;
    min-height: 100vh;
    /* padding: 7rem; */
    /* padding-bottom: 60rem;
    padding-top: 30rem; */
    /* margin-bottom: 10rem; */
}
.sleep-body-link {
    font-family: Arial;
    background-color: #ffecd4;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto; 
    height: 100vh;
    min-height: 100vh;
    /* padding: 7rem; */
    padding-bottom: 60rem;
    padding-top: 30rem;
    /* margin-bottom: 10rem; */
}
.content-wrapper {
    width: 100%;
    max-width: 850px;
    gap: 2rem;
    /* padding: 2rem; */
}

.sleep-alarma {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.sleep-alarma-container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sleep-horas-container {
    margin-top: -8rem;
    /* font-size: x-large; */
    margin-bottom: 100px;
    margin-bottom: 10px;
    align-items: flex-end;
    justify-content: right;
    display: flex;
}

.sleep-label.texto {
    font-size: 62px;
    text-align: left;
}

.sleep-label.horas {
    font-size: 172px;
    font-size: xx-large;
    text-align: left;
    margin-right: 40px;
}

.sleep-toggle-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sleep-time-input {
    margin-bottom: 1rem;
}

.sleep-confirmar-button-container {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.sleep-confirm {
    background: linear-gradient(to top left, #ffffff, #e6f9c7);
    border: 5px solid #4FBD40;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    padding: 10px 20px;
    transition: 0.2s all;
}

.sleep-confirm:hover {
    background: linear-gradient(to top left, #a2e65e, #3fb232);
    color: #fff;
}

.sleep-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.sleep-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sleep-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3fb232;
    transition: 0.4s;
    border-radius: 20px;
}

.sleep-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.sleep-input:checked+.slider {
    background-color: #ccc;
}

.sleep-input:focus+.slider {
    box-shadow: 0 0 1px #3fb232;
}

.sleep-input:checked+.slider:before {
    transform: translateX(20px);
}

.sleep-input[type="time"] {
    width: 280px;
    height: 40px;
}

.sleep-input[type="text"] {
    width: 100%;
    height: 40px;
    margin-top: 2rem;
    padding: 0.5rem;
}

.media-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.media-container {
    margin-top: 2rem;
}
