
.archivement-view {
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
  }
  
  .achievement-card {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-no-bg {
    background-color: transparent;
  }
  
  .achievement-card.achieved {
    border: 2px solid #4CAF50;
    background-color: #E8F5E9;
  }
  
  .achievement-card.unachieved {
    border: 2px solid #BDBDBD;
    background-color: #F5F5F5;
  }
  