/* Chrono.css */
.chronometer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow-y: auto;
}

.chronometer-time {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.chronometer-controls {
    display: flex;
    gap: 1rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.input-container input {
    padding: 0.5rem;
    width: 100%;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    margin-right: 0.5rem;
    width: 200px;
}



.times-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000;
    margin-top: 1rem;
}

.times-table th,
.times-table td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #000000;
}

.times-table th {
    background-color: #FFFFFF;
    color: #000000;
}

.times-table tbody {
    max-height: 200px;
    overflow-y: auto;
}


.add-button {
    background-color: #CDDC39;
    border: none;
    color: #000000; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

.general-button {

    flex: auto;
    border-radius: 10%;
}

.general-div {

    margin: 10;
}

.time-input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .time-input-item {
    /* background-color: gray; */
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .time-input-item-front {
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border-radius: 30px;
    background-color: white;
    z-index: 10;
  }

  .chronometer-controls{
    margin-top: 1rem;
  }
  