/* Estilos generales */
.chronometer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    height: 100vh;
    overflow-y: auto;
}

.chronometer-time {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.general-div {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.table-container {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
}

.times-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000;
}

.times-table th,
.times-table td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #000000;
}

.times-table th {
    background-color: #FFFFFF;
    color: #000000;
}

/* Botones mejorados */
.general-button {
    flex: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.general-button:hover {
    background-color: #45a049;
}

.button-icon {
    margin-right: 8px;
}

.chronometer-controls {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.input-container input {
    padding: 0.5rem;
    width: 100%;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    margin-right: 0.5rem;
    text-align: center;
}

.time-input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-input-item {
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.time-input-item-front {
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border-radius: 30px;
    background-color: white;
    z-index: 10;
}

@media (max-width: 768px) {
    .chronometer-time {
        font-size: 3rem;
    }

    .add-button {
        font-size: 24px;
    }

    .times-table th,
    .times-table td {
        padding: 0.25rem;
    }

    .input-container input {
        width: 100px;
    }

    .chronometer-controls {
        flex-direction: column;
        gap: 0.5rem;
    }

    .time-input-container {
        flex-direction: column;
        gap: 10px;
    }

    .table-container {
        max-height: 30vh;
    }

    .times-table {
        font-size: 0.8rem;
    }

    .times-table th,
    .times-table td {
        padding: 0.2rem;
        word-break: break-word;
    }
}
