/* general.css */
.calendar-main-container {
  max-height: 100vh;
  overflow-y: auto;
  margin-bottom: 20rem;
}

/* Calendar_view.css */
.calendar-view-container {
  height: 100%;
  overflow-y: auto;
}

.month-view-container {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 8rem;
}

.reminders-table-container {
  margin-top: 10px;
  overflow-y: auto; 
  max-height: 150px; 
  margin-bottom: 8rem;
}

.reminders-table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: bisque;
}

.reminders-table-container th, .reminders-table-container td {
  border: 2px solid #2a0000;
  padding: 8px;
  text-align: left;
}

.reminders-table-container th {
  background-color: #06a7c4;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

select {
  margin-bottom: 20px;
}

.calendar-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.react-calendar {
  width: 100%;
}

.week-view-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.week-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.week-days {
  display: flex;
  justify-content: space-between;
}

.day-box {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  background-color: aliceblue;
  box-sizing: border-box;
  overflow-y: auto; 
  max-height: 600px; 
}

.hours-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hour-block {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.hour-block:hover {
  background-color: #d0d0d0;
}

@media (max-width: 768px) {
  .week-days {
    flex-direction: column;
  }
  .day-box {
    padding: 0px;
    width: 100%;
    margin-bottom: 10px;
    font-size: small;
  }
}


.custom-select {
  width: 20%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #0f729d;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: #3276be;
  color: #FFF;
  appearance: none;
  position: relative;
  padding-right: 40px; 
}

.custom-select:focus {
  border-color: #4381c4;
  box-shadow: 0 0 8px rgba(57, 138, 225, 0.5);
  outline: none;
}

.custom-select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* El icono no interfere con la selección */
  color: #FFF;
}
